body{
    font-weight:'Roboto', sans-serif;
    background:black;
    color:white;
}
.nav-link{
    color:white;
}
.nav-link:hover{
    color:white;
    font-weight:bold;
}
.container{
    margin:0;
    padding:0;
    width:100%;
}
.btn-outline-light{
    width:75%;
}
.btn-outline-light:hover{
    background-color:white;
    color:black;
    font-weight:bold;
}
.container-fluid{
    display:flex;
    justify-content:center;
    align-items:center;
}
.form-control{
    background-color: transparent;
    border: 1px solid #fff;
}

@media (max-width:576px){
    .heading{
        color:yellow;
        margin-top:50px;
        font-weight:bolder;
    }
}